#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Import users table:

In [3]:
df_users = pd.read_csv('users_table.csv')
df_users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 3. Rename Id column to userId

In [4]:
colum_names = list(df_users.columns)
colum_names
colum_names[0] = 'userId'
df_users.columns = colum_names
df_users.head()

#more straight fordward solution with df.rename, do not forget to use inplace=True to keep otherwise, df = df...
#df_users.rename(columns={'userId': 'id'}, inplace=True)
#df_users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 4. Import posts table:

In [5]:
df_posts = pd.read_csv('posts_table.csv')
df_posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [6]:
df_posts.rename(columns = {'Id':'postId', 'OwnerUserId':'userId'}, inplace=True)
df_posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [82]:
users_df = df_users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_df = df_posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

print(users_df.shape)
display(users_df[users_df['userId']==-1])

print(posts_df.shape)
display(posts_df[posts_df['userId']==-1])

(40325, 5)

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920

(40000, 5)

       postId  Score  userId  ViewCount  CommentCount
2040     2175      0    -1.0        NaN             0
7898     8576      0    -1.0        NaN             0
7900     8578      0    -1.0        NaN             0
8259     8981      0    -1.0        NaN             0
8260     8982      0    -1.0        NaN             0
...       ...    ...     ...        ...           ...
38703   46731      0    -1.0        NaN             0
38749   46786      0    -1.0        NaN             0
39367   47547      0    -1.0        NaN             0
39593   47833      0    -1.0        NaN             0
39607   47850      0    -1.0        NaN             0

[123 rows x 5 columns]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [81]:
merged_df = pd.merge(left = users_df, right = posts_df, left_on='userId', right_on='userId', how='left') # if used inner we will loose the rows if userId not found in posts_df
merged_df

#I merged so we can't loose any king of data but the way of merging depends on the goal. maybe we are not interested in the users that don't have any posts or whatever

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175.0,0.0,NaN,0.0
1,-1,1,0,5007,1920,8576.0,0.0,NaN,0.0
2,-1,1,0,5007,1920,8578.0,0.0,NaN,0.0
3,-1,1,0,5007,1920,8981.0,0.0,NaN,0.0
4,-1,1,0,5007,1920,8982.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...
71144,55743,1,0,0,0,NaN,NaN,NaN,NaN
71145,55744,6,1,0,0,NaN,NaN,NaN,NaN
71146,55745,101,0,0,0,NaN,NaN,NaN,NaN
71147,55746,106,1,0,0,NaN,NaN,NaN,NaN
71148,55747,1,0,0,0,NaN,NaN,NaN,NaN

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [83]:
merged_df.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId          32187
Score           32187
ViewCount       55759
CommentCount    32187
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [87]:
#I will replace by 0 just because of the way of merging, we have usersIds that dont appear in the postId data, which I assume it is because of no posting.
#I dont want to loose any king of data so I am not cleaning and adding some meaning to the NaNs
#merged_df[merged_df['postId']==0]
columns_to_fill = ['postId', 'Score', 'ViewCount', 'CommentCount']
merged_df[columns_to_fill] = merged_df[columns_to_fill].fillna(0)  #maybe with postId we can put -1 or leave NaN but considering there is no with 0 (checked) we will leave it as 0

display(merged_df.head(50))
display(merged_df.tail(50))

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175.0,0.0,0.0,0.0
1,-1,1,0,5007,1920,8576.0,0.0,0.0,0.0
2,-1,1,0,5007,1920,8578.0,0.0,0.0,0.0
3,-1,1,0,5007,1920,8981.0,0.0,0.0,0.0
4,-1,1,0,5007,1920,8982.0,0.0,0.0,0.0
5,-1,1,0,5007,1920,9857.0,0.0,0.0,0.0
6,-1,1,0,5007,1920,9858.0,0.0,0.0,0.0
7,-1,1,0,5007,1920,9860.0,0.0,0.0,0.0
8,-1,1,0,5007,1920,10130.0,0.0,0.0,0.0
9,-1,1,0,5007,1920,10131.0,0.0,0.0,0.0
10,-1,1,0,5007,1920,15331.0,0.0,0.0,0.0
11,-1,1,0,5007,1920,15332.0,0.0,0.0,0.0
12,-1,1,0,5007,1920,16296.0,0.0,0.0,0.0
13,-1,1,0,5007,1920,16366.0,0.0,0.0,0.0
14,-1,1,0,5007,1920,19423.0,0.0,0.0,0.0
15,-1,1,0,5007,1920,19848.0,0.0,0.0,0.0
16,-1,1,0,5007,1920,20259.0,0.0,0.0,0.0
17,-1,1,0,5007,1920,20261.0,0.0,0.0,0.0
18,-1,1,0,5007,1920,20262.0,0.0,0.0,0.0
19,-1,1,0,5007,1920,20263.0,0.0,0.0,0.0
20,-1,1,0,5007,1920,20264.0,0.0,0.0,0.0
21,-1,1,0,5007,1920,20485.0,0.0,0.0,0.0
22,-1,1,0,5007,1920,20487.0,0.0,0.0,0.0
23,-1,1,0,5007,1920,20489.0,0.0,0.0,0.0
24,-1,1,0,5007,1920,20490.0,0.0,0.0,0.0
25,-1,1,0,5007,1920,21497.0,0.0,0.0,0.0
26,-1,1,0,5007,1920,21795.0,0.0,0.0,0.0
27,-1,1,0,5007,1920,21856.0,0.0,0.0,0.0
28,-1,1,0,5007,1920,21860.0,0.0,0.0,0.0
29,-1,1,0,5007,1920,21861.0,0.0,0.0,0.0
30,-1,1,0,5007,1920,21862.0,0.0,0.0,0.0
31,-1,1,0,5007,1920,21864.0,0.0,0.0,0.0
32,-1,1,0,5007,1920,21876.0,0.0,0.0,0.0
33,-1,1,0,5007,1920,21878.0,0.0,0.0,0.0
34,-1,1,0,5007,1920,21882.0,0.0,0.0,0.0
35,-1,1,0,5007,1920,23847.0,0.0,0.0,0.0
36,-1,1,0,5007,1920,27148.0,0.0,0.0,0.0
37,-1,1,0,5007,1920,28215.0,0.0,0.0,0.0
38,-1,1,0,5007,1920,28223.0,0.0,0.0,0.0
39,-1,1,0,5007,1920,28240.0,0.0,0.0,0.0
40,-1,1,0,5007,1920,28260.0,0.0,0.0,0.0
41,-1,1,0,5007,1920,28263.0,0.0,0.0,0.0
42,-1,1,0,5007,1920,28267.0,0.0,0.0,0.0
43,-1,1,0,5007,1920,28269.0,0.0,0.0,0.0
44,-1,1,0,5007,1920,28275.0,0.0,0.0,0.0
45,-1,1,0,5007,1920,28277.0,0.0,0.0,0.0
46,-1,1,0,5007,1920,28279.0,0.0,0.0,0.0
47,-1,1,0,5007,1920,28281.0,0.0,0.0,0.0
48,-1,1,0,5007,1920,28296.0,0.0,0.0,0.0
49,-1,1,0,5007,1920,28304.0,0.0,0.0,0.0

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
71099,55698,1,0,0,0,0.0,0.0,0.0,0.0
71100,55699,6,0,0,0,0.0,0.0,0.0,0.0
71101,55700,1,0,0,0,0.0,0.0,0.0,0.0
71102,55701,1,0,0,0,0.0,0.0,0.0,0.0
71103,55702,26,1,0,0,0.0,0.0,0.0,0.0
71104,55703,1,0,0,0,0.0,0.0,0.0,0.0
71105,55704,1,0,0,0,0.0,0.0,0.0,0.0
71106,55705,1,0,0,0,0.0,0.0,0.0,0.0
71107,55706,1,0,0,0,0.0,0.0,0.0,0.0
71108,55707,1,0,0,0,0.0,0.0,0.0,0.0
71109,55708,1,0,0,0,0.0,0.0,0.0,0.0
71110,55709,1,0,0,0,0.0,0.0,0.0,0.0
71111,55710,1,0,0,0,0.0,0.0,0.0,0.0
71112,55711,1,0,0,0,0.0,0.0,0.0,0.0
71113,55712,1,0,0,0,0.0,0.0,0.0,0.0
71114,55713,6,0,0,0,0.0,0.0,0.0,0.0
71115,55714,6,0,0,0,0.0,0.0,0.0,0.0
71116,55715,6,0,0,0,0.0,0.0,0.0,0.0
71117,55716,1,0,0,0,0.0,0.0,0.0,0.0
71118,55717,1,0,0,0,0.0,0.0,0.0,0.0
71119,55718,6,0,0,0,0.0,0.0,0.0,0.0
71120,55719,1,1,0,0,0.0,0.0,0.0,0.0
71121,55720,1,0,0,0,0.0,0.0,0.0,0.0
71122,55721,101,0,1,0,0.0,0.0,0.0,0.0
71123,55722,1,0,0,0,0.0,0.0,0.0,0.0
71124,55723,1,0,0,0,0.0,0.0,0.0,0.0
71125,55724,16,1,0,0,0.0,0.0,0.0,0.0
71126,55725,1,0,0,0,0.0,0.0,0.0,0.0
71127,55726,1,0,0,0,0.0,0.0,0.0,0.0
71128,55727,1,0,0,0,0.0,0.0,0.0,0.0
71129,55728,1,0,0,0,0.0,0.0,0.0,0.0
71130,55729,16,1,0,0,0.0,0.0,0.0,0.0
71131,55730,1,0,0,0,0.0,0.0,0.0,0.0
71132,55731,1,0,0,0,0.0,0.0,0.0,0.0
71133,55732,101,0,0,0,0.0,0.0,0.0,0.0
71134,55733,6,1,0,0,0.0,0.0,0.0,0.0
71135,55734,1,0,0,0,0.0,0.0,0.0,0.0
71136,55735,1,0,0,0,0.0,0.0,0.0,0.0
71137,55736,1,0,0,0,0.0,0.0,0.0,0.0
71138,55737,1,0,0,0,0.0,0.0,0.0,0.0
71139,55738,11,0,0,0,0.0,0.0,0.0,0.0
71140,55739,1,0,0,0,0.0,0.0,0.0,0.0
71141,55740,1,0,0,0,0.0,0.0,0.0,0.0
71142,55741,101,0,1,0,0.0,0.0,0.0,0.0
71143,55742,6,0,0,0,0.0,0.0,0.0,0.0
71144,55743,1,0,0,0,0.0,0.0,0.0,0.0
71145,55744,6,1,0,0,0.0,0.0,0.0,0.0
71146,55745,101,0,0,0,0.0,0.0,0.0,0.0
71147,55746,106,1,0,0,0.0,0.0,0.0,0.0
71148,55747,1,0,0,0,0.0,0.0,0.0,0.0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [93]:
merged_df['userId'] = merged_df['userId'].astype(int)
merged_df['postId'] = merged_df['postId'].astype(int)  #take intoaccount that postid0 means no posts
merged_df['ViewCount'] = merged_df['ViewCount'].astype(int)
merged_df['CommentCount'] = merged_df['CommentCount'].astype(int)

display(merged_df.head(50))
display(merged_df.sample(50))

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0.0,0,0
1,-1,1,0,5007,1920,8576,0.0,0,0
2,-1,1,0,5007,1920,8578,0.0,0,0
3,-1,1,0,5007,1920,8981,0.0,0,0
4,-1,1,0,5007,1920,8982,0.0,0,0
5,-1,1,0,5007,1920,9857,0.0,0,0
6,-1,1,0,5007,1920,9858,0.0,0,0
7,-1,1,0,5007,1920,9860,0.0,0,0
8,-1,1,0,5007,1920,10130,0.0,0,0
9,-1,1,0,5007,1920,10131,0.0,0,0
10,-1,1,0,5007,1920,15331,0.0,0,0
11,-1,1,0,5007,1920,15332,0.0,0,0
12,-1,1,0,5007,1920,16296,0.0,0,0
13,-1,1,0,5007,1920,16366,0.0,0,0
14,-1,1,0,5007,1920,19423,0.0,0,0
15,-1,1,0,5007,1920,19848,0.0,0,0
16,-1,1,0,5007,1920,20259,0.0,0,0
17,-1,1,0,5007,1920,20261,0.0,0,0
18,-1,1,0,5007,1920,20262,0.0,0,0
19,-1,1,0,5007,1920,20263,0.0,0,0
20,-1,1,0,5007,1920,20264,0.0,0,0
21,-1,1,0,5007,1920,20485,0.0,0,0
22,-1,1,0,5007,1920,20487,0.0,0,0
23,-1,1,0,5007,1920,20489,0.0,0,0
24,-1,1,0,5007,1920,20490,0.0,0,0
25,-1,1,0,5007,1920,21497,0.0,0,0
26,-1,1,0,5007,1920,21795,0.0,0,0
27,-1,1,0,5007,1920,21856,0.0,0,0
28,-1,1,0,5007,1920,21860,0.0,0,0
29,-1,1,0,5007,1920,21861,0.0,0,0
30,-1,1,0,5007,1920,21862,0.0,0,0
31,-1,1,0,5007,1920,21864,0.0,0,0
32,-1,1,0,5007,1920,21876,0.0,0,0
33,-1,1,0,5007,1920,21878,0.0,0,0
34,-1,1,0,5007,1920,21882,0.0,0,0
35,-1,1,0,5007,1920,23847,0.0,0,0
36,-1,1,0,5007,1920,27148,0.0,0,0
37,-1,1,0,5007,1920,28215,0.0,0,0
38,-1,1,0,5007,1920,28223,0.0,0,0
39,-1,1,0,5007,1920,28240,0.0,0,0
40,-1,1,0,5007,1920,28260,0.0,0,0
41,-1,1,0,5007,1920,28263,0.0,0,0
42,-1,1,0,5007,1920,28267,0.0,0,0
43,-1,1,0,5007,1920,28269,0.0,0,0
44,-1,1,0,5007,1920,28275,0.0,0,0
45,-1,1,0,5007,1920,28277,0.0,0,0
46,-1,1,0,5007,1920,28279,0.0,0,0
47,-1,1,0,5007,1920,28281,0.0,0,0
48,-1,1,0,5007,1920,28296,0.0,0,0
49,-1,1,0,5007,1920,28304,0.0,0,0

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
55706,35634,101,1,0,0,0,0.0,0,0
22301,5509,1403,323,161,7,47984,2.0,0,7
36117,11355,118,30,63,0,41698,1.0,0,4
31734,9281,79,22,1,0,24705,9.0,2797,0
31067,8960,567,90,147,11,24328,2.0,0,0
41967,16281,101,3,1,0,0,0.0,0,0
31600,9216,172,16,3,0,41467,12.0,1384,1
57995,38228,1,0,0,0,0,0.0,0,0
68001,52553,1,1,0,0,0,0.0,0,0
70635,55225,1,0,0,0,0,0.0,0,0
42248,16510,101,0,0,0,0,0.0,0,0
54267,31990,6,0,0,0,0,0.0,0,0
54448,32198,1,0,0,0,0,0.0,0,0
70279,54865,101,0,0,0,0,0.0,0,0
32939,10027,6,2,0,0,25036,0.0,66,3
68028,52580,1,0,0,0,0,0.0,0,0
27654,7556,397,45,29,0,28509,4.0,1563,3
36449,11572,32,6,3,0,30172,0.0,114,0
56095,36080,1,1,0,0,0,0.0,0,0
33069,10069,798,148,66,1,43417,1.0,0,4
26341,7224,5430,1604,463,63,22060,1.0,0,7
4776,511,1796,516,33,4,2916,4.0,0,0
54054,31734,13,0,0,0,0,0.0,0,0
57516,37710,3,1,0,0,0,0.0,0,0
44229,18196,11,2,0,0,46709,2.0,524,1
54869,34679,1,0,0,0,0,0.0,0,0
66989,49532,1,0,0,0,0,0.0,0,0
5382,601,13478,1286,283,17,46417,4.0,0,0
53699,31316,1,0,0,0,0,0.0,0,0
4495,449,12813,1089,1607,57,7192,2.0,0,0
52886,30359,16,1,0,0,0,0.0,0,0
64675,46196,1,1,0,0,0,0.0,0,0
47359,23770,388,8,6,0,0,0.0,0,0
2382,196,6140,649,497,114,34064,1.0,0,3
68965,53530,1,0,0,0,0,0.0,0,0
60245,41699,1,0,0,0,0,0.0,0,0
68332,52889,1,0,0,0,0,0.0,0,0
45963,21086,101,0,0,0,0,0.0,0,0
41178,14730,1443,301,386,2,39027,12.0,320,2
8748,930,31170,5529,10523,214,6615,6.0,0,2
58245,39505,1,0,0,0,0,0.0,0,0
34477,10891,129,28,0,0,36229,1.0,0,3
50944,27994,1,2,0,0,0,0.0,0,0
41690,16063,101,0,1,0,0,0.0,0,0
17751,3816,121,9,5,0,29484,4.0,0,0
61971,43474,1,0,0,0,0,0.0,0,0
15353,2958,10470,655,210,6,12785,1.0,0,0
5605,634,426,47,8,0,5005,2.0,262,2
16589,3382,8009,3559,183,24,8279,1.0,0,7
46118,21270,1,2,0,0,0,0.0,0,0

In [ ]:
#We can get some "outliers"

#Users that have not published any post
users_with_no_posts = merged_df[merged_df['postId']==0]
users_with_no_posts.to_csv('users_with_no_posts.csv')

display(merged_df.describe())
most_popular_post = merged_df[merged_df['ViewCount']>100000]
most_popular_post.to_csv('most_popular_post.csv')

most_commented_post = merged_df[merged_df['CommentCount']==45]
most_commented_post.to_csv('most_commented_post.csv')

#and we can keep adding kpis

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,71149.000000,71149.000000,71149.000000,71149.000000,71149.00000,71149.000000,71149.000000,71149.000000,71149.000000
mean,18109.336547,4006.702287,767.983752,501.718267,24.03005,12573.594513,2.235941,258.751606,1.103234
std,17014.434195,11786.379471,2627.603634,1759.344563,121.70463,15275.480386,5.263916,1809.091511,2.218350
min,-1.000000,1.000000,0.000000,0.000000,0.00000,0.000000,-19.000000,0.000000,0.000000
25%,3835.000000,6.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,11032.000000,101.000000,5.000000,1.000000,0.00000,3967.000000,0.000000,0.000000,0.000000
75%,30911.000000,1273.000000,181.000000,100.000000,2.00000,24323.000000,3.000000,0.000000,1.000000
max,55747.000000,87393.000000,20932.000000,11442.000000,1920.00000,48325.000000,192.000000,175495.000000,45.000000